.aml_mine2 {
	position: absolute;
	margin-left: 380px;
	margin-top: 20px;

}
.aml_white {
	color: white;
}
.col-md-4 {
	color: white;
}
.aml_defined {
	margin-top: 200px;
}
.aml_defined1 {
	margin-top: 130px;
}
.aml_defined2 {
	margin-top: 130px;
}
.aml_defined3{
	margin-top: 50px;
}
.aml_footerinfisio {
	margin-top: -200px;
}
.col-md-6 {
	margin-top: 20px;
}
