.mybutton {
	height: 30px;
	width: 40px;
	background-color: #ff8100;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	border-top: solid 2px #f7bc00;
	border: solid 2px #855d31;
	display: inline-block;
	color: white;
	margin: center;
	margin-left: 500px;
	margin-right: -500px;
	text-decoration: none;
	
	
	

}
