body p {
	/*margin-top: 0.5%;*/
}
footer {
	text-align: center;
	color: gray;
}
.jumbotron {
	/*margin-top: 7%;*/
}
.img50 {
	height: 40px;
	width: 40px;
	position: absolute;
	margin-left: -45px;
	margin-top: 5px;
}
.Att {
	color: grey;
	text-align: right;
}
.col-xs-6  h2{
	display: inline;
}
