.img50 {
	height: 40px;
	width: 40px;
	position: absolute;
	margin-left: -45px;
	margin-top: 5px;
}
#footerb img {
	height: 300px;
	width: 300px;
	position: absolute;
	margin-left: 18px;
	margin-top: -12px;
}