/*theme: asphalt-blue*/
.asphalt-nav {
	color: #adcbe3;
}
#asphalt-footer {
	border-top: 4px solid #2a4d69;
}
.aml_banner {
	/*display: inline-block;*/
	margin-top: 2%;
	left: 0;
}
.list-group-aml {
	background-color: #142842;
	margin-bottom: 5%;
	border: 4px solid #2a4d69;
	border-radius: 5px;
}
.list-group-item-aml {
	color: #e7eff6;
	display: block;
	padding: 3%;
	border-bottom: 1px solid #2a4d69;
}
.list-group-item-aml:hover {
	color: 	#ff9900;
	background-color: #002448;
	text-decoration: none;
}
.badge {
	float: right;
}
.active-aml {
	color: 	#ff9900;
	background-color: #002448;
	text-decoration: none;
}
.badge-aml {
	background-color: #042c62;
	color: 	#e7eff6;
	border-radius: 10px;
	display: inline-block;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	float: right;
	border: 2px solid #2a4d69;
}
.badge-aml:hover {
	background-color: #002448;
	color: 	#ff9900;
}
/*panels panels panels panels panels*/
.aml-panel {
	background-color: #142842;
	border: 4px solid #2a4d69;
	margin-bottom: 5%;
	color: #c0d6e4;
	border-radius: 5px;
}
.aml-heading {
	border-bottom: 2px solid #2a4d69;
}
.aml-title {
	font-size: 2rem;
	padding-left: 2%;
}
.aml-body {
	padding: 3%;
}
.aml-anat {
	color: #c6e2ff;
}
.aml-anat:hover {
	color: #ff4444;
}
/*table table table*/
.table-striped,
thead,
th {
	background-color: #1a2636;
}
.table-striped,
tbody,
tr {
	background-color: #1a2636;
	color: #e7eff6;
}
.table-striped>tbody>tr:nth-of-type(2n+1){background-color:	#0d4e50}
.table-striped {
	border-radius: 5px;
}
.table-striped,
 thead,
 tbody,
 tr {
 	border: 4px solid #2a4d69;
}
.cap-a {
	color: #47d1d1;
}
.cap-a:hover {
	color: #dd5757;
	font-weight: bold;
}
.mode-night {
	background-color: #142842;
	color: #e7eff6;
	border: 4px solid #2a4d69;
	border-radius: 5px;
	padding: 5px;
	/*text-align: center;*/
}
.center h3 {
	text-align: center;
}
.centerio {
	text-align: center;
	display: inline-block;
	margin-left: 5%;
	padding-bottom: 1%;
}
.asphalt-container {
	background-color: #142842;
	border-radius: 5px;
	border: 4px solid #2a4d69;
	padding-bottom: 2%;
	/*display: grid;*/
	/*margin-right: 2%;*/
}
.img-asphalt-md4 {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	border: 4px solid #2a4d69;
	/*box-shadow: 1px 1px 8px 5px #4b3832;*/
	margin-top: 5%;
	margin-left: 7%;
	display: grid;
}
.aml-p-asphalt {
	color: #e7eff6;
}
.asphalt-button {
	border-radius: 5px;
	border: 2px solid #2a4d69;
	background-color: #1a2636;
	padding: 2%;
	display: grid;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
}
.top-desktop-3 {
	margin-top: 5%;
}
.asphalt-hr {
	border: 1px solid #2a4d69;
	margin-right: 2%;
	margin-left: 2%;
}
.cap-b {
	color: #e7eff6;
}
.cap-b:hover {
	color: #dd5757;
	font-weight: bold;
}
.plugin-img {
	width: 100%;
}
.aml-capuf {
	background-color: #142842;
	color: #e7eff6;
	border: 4px solid #2a4d69;
	border-radius: 5px;
	margin-bottom: 15px;
}
.aml-capuf h3 {
	text-align: center;
}

